body {
  background-color: aqua;
  display: block;
  text-align: center;


}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
    font-family: font-family: 'Poppins', sans-serif;
  font-weight: 500; 
}
