:root {
  --first-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
nav {
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.navbar-nav .nav-link.active,
a.nav-link:hover {
  color: var(--first-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.hero h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  padding: 18px 30px;
  background: var(--first-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  padding: 18px 30px;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.project-discription {
  padding: 120px 60px;
}
.content-conteiner {
  padding: 100px 20px;
}
.content-conteiner h1 {
  font-size: 64px;
  line-height: 83px;
}
.content-conteiner h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
}
.content {
  margin: 10px 30px;
}
.content-conteiner h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
  line-height: 1.5;
}
footer {
  margin: 50px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
}
footer .contact-box p {
  margin: 0;
}
footer a.btn.btn-branding {
  margin: 15px 0 0 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--first-color);
}

footer .sosial-links a {
  margin: 0 20px;
  padding: 10px 14px;
  color: var(--first-color);
  background: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .sosial-links a:hover {
  color: white;
  background: var(--first-color);
}
.SheCodes-link {
  color: var(--first-color);
}
#fotoVicky {
  margin: 0 0 0 70px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  .content h1 {
    font-size: 36px;
    padding: 70px 0 0 0;
    line-height: 50px;
  }
  h2 {
    font-size: 44px;
  }
  .project-discription {
    padding: 0px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-conteiner {
    padding: 0px;
    text-align: center;
  }
  #fotoVicky {
    margin: 0;
  }
}
